/* Sensation Font */
@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* RSMS Font */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Times New Roman', Times, serif;

}


h1 {
    font-family: 'Sansation';
    font-size: 46px;
    letter-spacing: 3px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

form input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

select {
    color: #857d7d;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
}

option {
    color: black;
}

:required:focus:not(:valid) {
    border: 1px solid red;

}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 2px solid #08ba3a;
}

/* Header nav bar Starts */

.top-nav,
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top-nav {
    background-color: rgba(97, 190, 123, 1);
}

.main-nav {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: white;
    z-index: 1000;
    transition: top 0.3s, opacity 0.3s, background-color 0.3s;
    border-bottom: 1px solid #61be7b;
}

.top-nav ul,
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-right: 20px;
    position: relative;
}

.top-nav ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.main-nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #61be7b;
    transition: width 0.2s ease-in-out;
}

.main-nav ul li a:hover::after {
    width: 100%;
}

.main-nav ul li a:hover {
    color: #61be7b;
}

.top-nav ul li i,
.footer-icons ul li i {
    color: black;
}

.top-nav ul li i:hover,
.footer-icons ul li i:hover {
    color: white;
}

.top-nav a,
.main-nav a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.main-nav a {
    font-size: 20px;
    font-weight: 500;
}

.main-nav ul,
.main-nav div {
    margin: 0 50px 0 0px;
}

.top-nav li,
.main-nav li {
    margin: 0px 15px;
}

.main-nav.scrolled {
    top: 0;
    opacity: 1;
    background-color: rgb(255, 255, 255);
}

.stickys {
    position: fixed;
    top: 0;
    z-index: 1000;
}


.logo img {
    height: 40%;
    width: 40%;
    cursor: pointer;

}

nav .fa-bars {
    display: none;
    color: black;

}

/* Header nav bar Ends */


/* career description starts */

.career-desc-div {
    margin: 100px 50px;
}

.career-desc-div h1,
.contact-us-div h1 {
    text-align: center;
    color: #61be7b;
    padding-bottom: 20px 0;

}

.career-openings h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    padding-bottom: 20px 0;
}

.career-desc-div h1 {
    margin: 0px;
    padding: 0px;

}

.career-desc-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

.career-desc-item {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.career-desc-item h4,
.career-desc-item p {
    margin: 5px;
}

.opening-link {
    flex: 1;
    padding: 0px;
    margin: 0px 0 30px 0;
    text-align: center;
}

.opening-link a {
    text-decoration: underline;
    color: #6b6b6b;
    padding: 0px;
    margin: 0px 0 30px 0;
}

/* career description ends */

/* career opening - send resume form starts */

.career-openings {
    margin: 50px 50px;
}

.contact-us-div {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.contact-details {
    background-color: #61be7b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    /* margin: 20px 0; */
    gap: 80px;
}

.details-form {
    margin: 50px 0px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-row {
    display: flex;
    gap: 10px;
}

.phone-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#phoneId {
    width: 225px;
}

#emailId {
    width: 265px;
}

#countryName,
#jobType {
    width: 285px;
}

#experienceItem,
#categoryItem {
    width: 225px;
}

.country-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.requirement-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.requirement-div>div {
    flex: 1;
    margin-right: 10px;
}

.requirement-div>div:last-child {
    margin-right: 0;
}

.resume-upload {
    width: 50%;
}

.resume-upload input {
    border: none;

}

.send-button {
    width: 150px;
    padding: 10px;
    background-color: #08ba3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 15px;

}

.send-button:hover {
    /* background-color: #61be7b; */
    border: 1px solid #08ba3a;
    transform: scale(1.1);
}

/* career opening - send resume form ends */

/* footer details starts */

.footer-div {
    margin: 120px 50px 0 50px;
    padding: 0;
}

.footer-details {

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #61be7b;
    border-radius: 5px;
}

.footer-area {
    padding: 0 10% 0 10%;
    color: black;

}

.footer-area h2 {
    color: white;
    font-size: 25px;
}

.connect-us {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.connect-detail {
    align-items: center;
    margin-top: 50px;
}

.connect-input {
    width: 300px;
    border: 1px solid #08ba3a;
    padding: 10px;
    border-radius: 4px;
    outline: none;
}

.connect-btn {
    padding: 10px;
    background-color: #08ba3a;
    color: black;
    border: 1px solid #61be7b;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    width: 80px;
    font-size: 14px;
}

.connect-btn:hover {
    color: black;
    background-color: #08ba3a;
}

.submit-message {
    margin-top: 10px;
    display: none;
    font-size: 16px;
}

.more-details {

    display: flex;
    justify-content: space-around;

}

.more-details ul li {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.more-details ul li a {
    text-decoration: none;
    color: black;

}

.footer-icons {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.footer-social-media li {
    display: inline-block;
}

.footer-icons ul li i {
    font-size: 30px;
    margin: 20px;
}

.copy-right {
    margin: 0 0 0 0;
    font-size: 12px;
    text-align: center;
}

/* footer details ends */

@media (max-width: 480px) {

    /* Header Navbar media query starts */

    .main-nav {
        top: 0;
    }

    .top-nav {
        display: none;
    }

    .main-nav .fa-solid {
        display: block;
        font-size: 20px;
        cursor: pointer;
        padding-right: 10px;
    }

    .main-nav ul {
        background-color: #61be7b;
        position: fixed;
        top: 0;
        /* right: 0; */
        display: block;
        right: -250px;
        /*this will hide menu bar by default*/
        width: 200px;
        height: 100vh;
        z-index: 2;
        /*Nav bar in small screens*/
        transition: right 0.5s;
    }

    .main-nav ul li {
        display: block;
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }

    .main-nav ul i {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;
    }

    .main-nav ul li a::after {
        content: ' ';
        width: 0;
        height: 3px;
        background: white;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    .main-nav ul li a:hover::after {
        width: 100%;
    }

    .main-nav ul li a:hover {
        color: white;
    }

    /* Header Navbar media query Ends */


    /* career description starts */

    .career-desc-div {
        margin: 15px 50px;
        padding-top: 5px;
        margin: 5px 10px;

    }

    .career-desc-div h1 {
        margin: 50px 0 0 0;
    }

    .career-desc-content {
        flex-direction: column;
    }

    .career-desc-item {
        width: 100%;
        margin: 50px 0;
        margin: 30px 0;
    }

    .middle-area img {
        width: 100%;
        height: auto;
    }


    /* .career-desc-left{
        flex-direction: column-reverse;

    } */

    /* .career-desc-content{
        grid-template-columns: repeat(1, 1fr);
    } */

    
    /* career description ends */

/* career opening - send resume FORM starts */
    .career-openings h1 {
        font-size: 30px;
        padding-bottom: 0px 0 0 0;
    }

    .contact-us-div {
        margin: 20px 0px 20px 0px;
    }
    
    .contact-us-div h1 {
        margin-bottom: 0px;
    }

    .contact-details {
        flex-direction: column-reverse;
        margin: 10px 0;
    }

    .details-form {
        width: 100%;
        margin: 20px 0 20px 0;
    }

    input,
    select,
    textarea {
        width: 100%;
        /* padding: 10px; */
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .send-button {
        display: block;
        margin: 10px auto 0;
        padding: 10px 20px;
    }

    form {
        width: 90%;
    }

    form input,
    textarea,
    select,
    button {
        margin: 10px 0 0px 0;
    }

    .requirement-div {
        align-items: start;
    }

    .requirement-div div {
        width: 100%;
    }

    .contact-details {
        width: 100%;
        gap: 20px;
    }

    .contact-row,
    .requirement-div {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .email-container {
        margin-bottom: 10px;
    }

    #phoneId,
    #experienceItem,
    #categoryItem {
        width: 100%;
    }

    #emailId,
    #countryName,
    #jobType {
        width: 100%;
    }

    .phone-container .iti {
        width: 100%;
    }

    .phone-container .iti__flag-container {
        padding: 10px 0;
    }

    .phone-container input {
        padding-left: 50px;
        /* Adjust this value based on your design */
    }

  .resume-upload {
        width: 100%;
    }

/* career opening - send resume FORM end */

/* footer details starts */

    .footer-area {
        padding: 0 5%;
    }

    .footer-details {
        border-radius: 0px;
    }

    .connect-us {
        display: block;
        text-align: center;
    }

    .connect-detail {
        flex-direction: column;
        align-items: center;
        margin-top: 0;

    }

    .connect-input {
        width: auto;
    }

    .connect-btn {
        width: 60px;
        font-size: 14px;
        margin-top: 5px;
    }

    .more-details {
        display: flex;
        flex-direction: column;
    }
    
    .more-details h2 {
        color: white;
        font-size: 20px;
        margin: 0;
    }

    .more-details ul {
        margin: 10px 0;
    }

    .more-details ul li {
        width: 100%;
        margin: 0px 0;
    }

    .footer-social-media li {
        display: inline-block;
    }

    .footer-icons ul li i {
        font-size: 14px;
        margin: 2px;
    }

    .footer-div {
        margin: 0;
        padding: 0;
    }

/* footer details ends */


}


@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    .main-container {
        margin-top: 10%;
    }

}


/* @media (min-width: 769px) and (max-width: 1200px)  */
@media (min-width: 600px) and (max-width: 900px) {

    /* Header Navbar media query starts */

    .main-nav {
        top: 0;
    }

    .top-nav {
        display: none;
    }

    .main-nav .fa-solid {
        display: block;
        font-size: 20px;
        cursor: pointer;
        padding-right: 10px;

    }

    .main-nav ul {
        background-color: #61be7b;
        position: fixed;
        top: 0;
        /* right: 0; */
        display: block;
        right: -250px;
        width: 200px;
        height: 100vh;
        z-index: 2;
        transition: right 0.5s;
    }

    .main-nav ul li {
        display: block;
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }

    .main-nav ul i {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;


    }

    .main-nav ul li a::after {

        content: ' ';
        width: 0;
        height: 3px;
        background: white;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;

    }

    .main-nav ul li a:hover::after {
        width: 100%;

    }

    .main-nav ul li a:hover {
        color: white;

    }

    /* Header Navbar media query Ends */


    /* career description starts */

    .career-desc-div {
        margin: 100px 50px;
    }

    .career-desc-div h1 {
        padding: 0;
        margin: 0;
    }

    .career-desc-item {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }

    .middle-area img {
        height: 390px;
        width: 350px;
    }
        /* career description ends */


/* career opening - send resume FORM starts */

    .contact-us-div {
        margin: 50px 20px 20px 20px;

    }

    .contact-us-div h1 {
        margin-bottom: 10px;
    }

    .contact-details {
        flex-direction: column-reverse;
        margin: 10px 0;
        width: 100%;
        gap: 20px;
    }


    .details-form {
        width: 100%;
    }

/* career opening - send resume FORM end */

/* footer details starts */
    .footer-div {
        margin: 0;
        padding: 0;
    }

    .footer-details {
        border-radius: 0px;

    }

    .connect-us {
        display: block;
        text-align: center;
    }

    .connect-input {
        width: auto;
    }

    .connect-btn {
        width: 60px;
        font-size: 14px;
        margin-top: 5px;
    }

    /* footer details end */


}
