/* Sensation Font */
@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* RSMS Font */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/InterVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Times New Roman', Times, serif;

}

h1 {
    font-family: 'Sansation';
    font-size: 46px;
    letter-spacing: 3px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

form input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

select {
    color: #857d7d;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
}

option {
    color: black;
}

:required:focus:not(:valid) {
    border: 1px solid red;

}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 2px solid #08ba3a;
}

/* Header Starts */

.top-nav,
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.top-nav {
    background-color: rgba(97, 190, 123, 1);
}

.main-nav {
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: white;
    z-index: 1000;
    transition: top 0.3s, opacity 0.3s, background-color 0.3s;
    border-bottom: 1px solid #61be7b;
}

.top-nav ul,
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-right: 20px;
    position: relative;
}

.top-nav ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.main-nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #61be7b;
    transition: width 0.2s ease-in-out;
}

.main-nav ul li a:hover::after {
    width: 100%;
}

.main-nav ul li a:hover {
    color: #61be7b;
}

.top-nav ul li i,
.footer-icons ul li i {
    color: black;
}

.top-nav ul li i:hover,
.footer-icons ul li i:hover {
    color: white;
}

.top-nav a,
.main-nav a {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.main-nav a {
    font-size: 20px;
    font-weight: 500;
}

.main-nav ul,
.main-nav div {
    margin: 0 50px 0 0px;
}

.top-nav li,
.main-nav li {
    margin: 0px 15px;
}

.main-nav.scrolled {
    top: 0;
    opacity: 1;
    background-color: rgb(255, 255, 255);


}

nav .fa-bars {
    display: none;
    color: black;
}

.logo img {
    height: 40%;
    width: 40%;
    cursor: pointer;
}

/* Header Ends */

/* ERP main heading and description starts */

.erp-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    /* Adjust as needed */
    margin: 30px auto;
    color: #61be7b;
}

.erp-details,
.erp-image {
    flex: 1;
    padding: 30px;
    margin: 30px 0 30px 0;
}

.erp-image img {
    max-width: 100%;
    height: auto;
    /* animation: zoomFadeIn 2s ease-in-out forwards 2s infinite; */
}

.erp-description {
    color: black;
    line-height: 2rem;

}

/* ERP main heading and description ends */


/* ERP product list starts */

.erp-products,
.contact-us-div {
    margin: 50px 50px;
}

.product-content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 300px)); */
    grid-template-columns: repeat(4, minmax(250px, 300px));
    row-gap: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.product-item {
    width: 250px;
    height: 150px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 20px;
    transition: transform 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.product-item h4 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}

.product-item h4,
.product-item img {
    position: relative;
    z-index: 2;
    color: #000000;
}


.product-item .front,
.product-item .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.9s;
}

.product-item .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.product-item .back {
    transform: rotateY(180deg);
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */

}

.product-item:hover .front {
    /* transform: rotateY(180deg); */
    transform: rotateY(180deg) scale(0.8);

}

.product-item:hover .back {
    /* transform: rotateY(360deg); */
    transform: rotateY(360deg) scale(1.1);
}

/* ERP product list ends */

/* contact us form starts */

.contact-us-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.contact-us-div h1 {
    text-align: center;
    color: #61be7b;
    padding-bottom: 20px 0;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: 20px 0;
    gap: 80px;
    background-color: #61be7b;
}

.detail-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.contact-row {
    display: flex;
    gap: 10px;
}

.phone-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#phoneId,
#requirementItem {
    width: 225px;
}

#emailId,
#companyName {
    width: 265px;
}

.requirement-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.requirement-div>div {
    flex: 1;
    margin-right: 10px;
}

.requirement-div>div:last-child {
    margin-right: 0;
}

.send-button {
    width: 150px;
    padding: 10px;
    background-color: #08ba3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 15px;

}

.send-button:hover {
    /* background-color: #61be7b; */
    border: 1px solid #08ba3a;
    transform: scale(1.1);
}

/* contact us form starts */


/* Footer starts */

.footer-div {
    margin: 120px 50px 0 50px;
    padding: 0;
}

.footer-details {

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: #61be7b;
    border-radius: 5px;
}

.footer-area {
    padding: 0 10% 0 10%;
    color: black;

}

.footer-area h2 {
    color: white;
    font-size: 25px;
}

.connect-us {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.connect-detail {
    align-items: center;
    margin-top: 50px;
}

.connect-input {
    width: 300px;
    border: 1px solid #08ba3a;
    padding: 10px;
    border-radius: 4px;
    outline: none;
}

.connect-btn {
    padding: 10px;
    background-color: #08ba3a;
    color: black;
    border: 1px solid #61be7b;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    width: 80px;
    font-size: 14px;
}

.connect-btn:hover {
    color: black;
    background-color: #08ba3a;
}

.submit-message {
    margin-top: 10px;
    display: none;
    font-size: 16px;
}

.more-details {

    display: flex;
    justify-content: space-around;

}

.more-details ul li {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.more-details ul li a {
    text-decoration: none;
    color: black;
}

.footer-icons {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.footer-social-media li {
    display: inline-block;
}

.footer-icons ul li i {
    font-size: 30px;
    margin: 20px;
}

.copy-right {
    margin: 0 0 0 0;
    font-size: 12px;
    text-align: center;
}

/* Footer ends */


@media (max-width: 480px) {


    /* Navbar media query starts */

    .main-nav {
        top: 0;
    }

    .top-nav {
        display: none;
    }

    .main-nav .fa-solid {
        display: block;
        font-size: 20px;
        cursor: pointer;
        padding-right: 10px;

    }

    .main-nav ul {
        background-color: #61be7b;
        position: fixed;
        top: 0;
        /* right: 0; */
        display: block;
        right: -250px;
        /*this will hide menu bar by default*/
        width: 200px;
        height: 100vh;
        z-index: 2;
        /*Nav bar in small screens*/
        transition: right 0.5s;
    }

    .main-nav ul li {
        display: block;
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }

    .main-nav ul i {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;
    }

    .main-nav ul li a::after {

        content: ' ';
        width: 0;
        height: 3px;
        background: white;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;

    }

    .main-nav ul li a:hover::after {
        width: 100%;

    }

    .main-nav ul li a:hover {
        color: white;

    }

    /* Navbar media query ends */


    /* ERP main heading and description starts */

    .erp-main {
        flex-direction: column;
        align-items: flex-start;
    }

    .erp-details,
    .erp-image {
        margin: 0;
        /* padding: 10px 0; */
        padding: 30px 20px;
    }

    .erp-details {
        text-align: left;
    }


    .erp-image img {
        display: block;
        margin: 0 auto;
    }

    /* ERP main heading and description ends */


    /* ERP product list starts */

    .product-content {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ERP product list ends */

    /* contact us form starts */

    .contact-us-div {
        margin: 50px 20px 20px 20px;

    }

    .contact-details {
        flex-direction: column-reverse;
        margin: 10px 0;
        width: 100%;
        gap: 20px;
    }

    .contact-us-div h1 {
        margin-bottom: 0px;
    }

    .detail-div {
        width: 100%;
    }

    form {
        width: 90%;
    }

    form input,
    textarea,
    select,
    button {
        margin: 10px 0 0px 0;
    }

    input,
    select,
    textarea {
        width: 100%;
        /* padding: 10px; */
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .requirement-div div {
        width: 100%;
    }

    .requirement-div {
        align-items: start;
    }

    .contact-row,
    .requirement-div {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .email-container {
        margin-bottom: 10px;
    }

    #phoneId,
    #requirementItem {
        width: 100%;
    }

    #emailId,
    #companyName {
        width: 100%;
    }

    .phone-container .iti {
        width: 100%;
    }

    .phone-container .iti__flag-container {
        padding: 10px 0;
    }

    .phone-container input {
        padding-left: 50px;
        /* Adjust this value based on your design */
    }

    .send-button {
        display: block;
        margin: 10px auto 0;
        padding: 10px 20px;
    }

    /* contact us form ends */

    /* Footer details starts */
    .footer-area {
        padding: 0 5%;
    }

    .footer-details {
        border-radius: 0px;

    }

    .connect-detail {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .more-details {
        display: flex;
        flex-direction: column;
    }

    .more-details ul {
        margin: 10px 0;
    }

    .more-details ul li {
        width: 100%;
        margin: 0px 0;
    }

    .more-details h2 {
        color: white;
        font-size: 20px;
        margin: 0;
    }

    .connect-us {
        display: block;
        text-align: center;
    }

    .connect-input {
        width: auto;
    }

    .connect-btn {
        width: 60px;
        font-size: 14px;
        margin-top: 5px;
    }

    .footer-social-media li {
        display: inline-block;

    }

    .footer-icons ul li i {
        font-size: 20px;
        margin: 2px;
        margin-right: 20px;
    }

    .footer-div {
        margin: 0;
        padding: 0;
    }

}

/* Footer details end */

@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {


    .main-container {

        margin-top: 5%;
    }



}


@media (min-width: 600px) and (max-width: 900px) {
    .main-nav {
        top: 0;
    }

    .top-nav {
        display: none;
    }

    .main-nav .fa-solid {
        display: block;
        font-size: 20px;
        cursor: pointer;
        padding-right: 10px;

    }

    .main-nav ul {
        background-color: #61be7b;
        position: fixed;
        top: 0;
        /* right: 0; */
        display: block;
        right: -250px;
        width: 200px;
        height: 100vh;
        z-index: 2;
        transition: right 0.5s;
    }

    .main-nav ul li {
        display: block;
        padding: 10px;
        font-size: 30px;
        margin-top: 10px;
    }

    .main-nav ul i {
        position: absolute;
        top: 25px;
        right: 25px;
        margin: 0;
    }

    .main-nav ul li a::after {

        content: ' ';
        width: 0;
        height: 3px;
        background: white;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;

    }

    .main-nav ul li a:hover::after {
        width: 100%;
    }

    .main-nav ul li a:hover {
        color: white;
    }

    .erp-main {
        margin-top: 100px;
    }

    .erp-div {
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        /* margin-right: 0;  */
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
    }

    .erp-logo {
        width: 100%;
        margin-bottom: 20px;
    }

    .erp-desc {
        padding: 0 20px;
        width: 100%;
        font-size: 18px;
    }

    .erp-details,
    .erp-image {
        flex: 1;
        padding: 10px 30px 0 30px;
        margin: 30px 0 0px 0;
    }

    .product-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-item {
        width: auto;
    }

    .contact-us-div {
        margin: 50px 20px 20px 20px;
    }

    .contact-us-div h1 {
        margin-bottom: 10px;
    }

    .contact-details {
        flex-direction: column-reverse;
        margin: 10px 0;
        width: 100%;
        gap: 20px;
    }

    .detail-div {
        width: 100%;
    }

    .footer-div {
        margin: 0;
        padding: 0;
    }

    .footer-details {
        border-radius: 0px;
    }

    .connect-us {
        display: block;
        text-align: center;
    }

    .connect-input {
        width: auto;
    }

    .connect-btn {
        width: 60px;
        font-size: 14px;
        margin-top: 5px;
    }

}